* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Utility Classes */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #262626;
}
a:hover {
  color: blue;
}
.container {
  width: 75%;
  margin: auto;
  padding: 50px;
}
.btn {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  background-color: green;
  color: #ffffff;
}
.btn:hover {
  background-color: #262626;
  color: blue;
  font-size: 1.2rem;
}
/* Navbar */
.navbar ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}
/* Nav menu-top */
.menu-top {
  background-color: #262626;
  height: 35px;
  padding: 5px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}

.menu-top a {
  color: #ffffff;
  padding: 10px;
}
.menu-top a:hover {
  color: blue;
}
/* Nav menu-main */
.menu-main {
  background-color: #ffffff;
  min-height: 100px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.menu-main img {
  width: 70px;
}
.menu-main ul {
  justify-content: flex-start;
}
.menu-main a {
  color: #262626;
  padding: 10px;
}
.menu-main a:hover {
  color: green;
  opacity: 0.8;
  font-size: 1.3rem;
}
/* Search bar */
.search-bar input {
  padding: 10px 20px;
  margin: 0;
  border-collapse: collapse;
}
/* Mobile Navigatio */
/* .menu-mobile {
  display: none;
} */
.menu-mobile {
  background-color: #ffffff;
  min-height: 100px;
  width: 100%;
  padding: 10px;
  display: none;
}

.menu-mobile a {
  color: #262626;
  padding: 10px;
}

/* Main body */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
/* Sate Bank */
.sate-bank {
  min-height: 200px;
}
.sate-bank-text {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Showcase */
.showcase {
  background: url("../images/writing.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.products {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
/* EBanking */
.ebanking {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.account-balance {
  min-height: 30px;
  width: 300px;
  border: 1px solid blue;
  padding: 10px 20px;
  margin: 10px 0;
  text-align: center;
}

.deposite-form input {
  min-height: 30px;
  width: 150px;
  border: 1px solid blue;
  padding: 10px 20px;
  margin: 10px 0;
  text-align: center;
}

/* People */
.people {
  background-color: #ffffff;
  margin: 20px 0;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.covid19 {
  height: 200px;
  background: url("../images/weather.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #eeeeee;
}

/* About page */
.banner {
  height: 25vh;
  background: url("../images/writing.jpeg");
}
.about {
  margin: 20px 0;
  padding: 50px;
}
.about-about {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #262626;
}
.about-history,
.about-mission,
.about-vision,
.about-board,
.about-team {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Contact */
.contact {
  min-height: 400px;
  background-color: #ffffff;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.contact > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
/* Products Page */
.products-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 50px;
}
.products-page h2 {
  padding: 50px;
}

.products-and-services {
  display: flex;
  padding: 20px 0;
}
/* E-Banking page */
.ebanking-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
  line-height: 2rem;
}
.ebanking-page form p {
  min-width: 50px;
  min-height: 30px;
  background-color: blue;
  color: #ffffff;
  margin: 20px 0;
  padding: 10px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
}
#deposite-ammount,
#deposite {
  padding: 10px 20px;
  margin: 0;
  font-size: 1.6rem;
}
#deposite {
  background-color: blue;
  color: #ffffff;

  border: 0;
}
/* Footer */
.footer {
  color: #ffffff;
}
.main-footer {
  min-height: 200px;
  padding: 20px;
  background-color: #262626;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.main-footer a {
  color: #ffffff;
  padding: 5px;
}
.main-footer a:hover {
  color: blue;
  font-size: 1rem;
}
.main-footer li {
  padding: 5px;
}

.copy-footer {
  min-height: 50px;
  background-color: #000000;
  text-align: center;
  font-size: 0.7rem;
}

.copy-footer a {
  color: #ffffff;
  padding: 5px;
}
.copy-footer a:hover {
  color: blue;
  font-size: 1rem;
}

/* Media Queries */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .search-bar {
    display: none;
  }
  .container {
    width: 90%;
  }
  .person3 {
    display: none;
  }
}

@media (max-width: 767px) {
  .menu-main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .menu-top {
    display: none;
  }

  .search-bar {
    display: none;
  }
  .images {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .container {
    width: 85%;
    padding: 30px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .products-and-services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .main-footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .menu-main {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
  .sate-bank-text {
    text-align: center;
    margin: 20px 0;
    padding: 50px 0;
  }
  .products {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .products p {
    display: none;
  }
  .about-history,
  .about-mission,
  .about-vision,
  .about-board,
  .about-team {
    margin: 10px 0;
    font-size: 1rem;
  }
  .products-and-services {
    grid-template-columns: 1fr;
  }
  .products-and-services p {
    display: none;
  }
  .main-footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .copy-footer {
    display: none;
  }
}
